<template>
  <div class="home-page-container">
		<div class='content' v-if='dataIsLoaded'>
			<cp-dropdown class='dropdown' :items='currencyDisplayValues' label='Select a currency' v-model="selectedCurrency"/>
			<cp-table class='table' :items='ProductsDisplayValues'/>
		</div>
  </div>
</template>

<script>
export default {
  name: 'HomePage',

	// Retrieve and set initial data
	async beforeMount() {
		this.products = await this.$api.products.retrieveProducts();
		// this.ProductsDisplayValues = this.deepCopyObject(this.products);

		var metaData = await this.$api.metadata.retrieveMetadata();
		
		this.defaultCurrency = metaData.defaultCurrency;
		this.selectedCurrency = this.defaultCurrency
		this.setCurrencyDisplayValues(metaData.exchangeRates);
		this.setNewCurrency(this.selectedCurrency)
	},

	data () {
		return {
			// Currently selected currency
			selectedCurrency: null,
			// List of configured currencies. Used for display
			currencyDisplayValues: [],
			// Configured exchange rates
			exchangeRates: [],
			// Configured products
			products: [],
			// List of produces. Used for display
			ProductsDisplayValues: [],
			// Default currency
			defaultCurrency: '',
			// Currently applied exchange rate. Used for reverting a conversion
			currentlyAppliedExchangeRate: null
		}
	},

	methods: {
		// Formats currencies for display
		setCurrencyDisplayValues(rawRates) {
			this.exchangeRates = rawRates;
			for(var i in rawRates) {
				if(!this.currencyDisplayValues.find(x => x.value === rawRates[i].sourceCurrency))
					this.currencyDisplayValues.push({label: rawRates[i].sourceCurrency, value: rawRates[i].sourceCurrency});
			}
		},

		// Sets a new currency and applies exchange rate conversions
		setNewCurrency(newCurrency) {
			if(this.currentlyAppliedExchangeRate) 
				this.revertAppliedExchangeRate()

			if(newCurrency !== this.defaultCurrency) 
				this.applyExchangeRate(newCurrency);

			this.resetDisplayProducts()
		},

		// Reverts a previously applied exchange rate
		revertAppliedExchangeRate() {
			for(var i in this.products)
				this.products[i].unitPrice = this.products[i].unitPrice / this.currentlyAppliedExchangeRate.rate;
			
			this.currentlyAppliedExchangeRate = null
		},

		// Applies a new exchange rate
		applyExchangeRate(newCurrency) {
			var rateToApply = this.exchangeRates.find(x => x.sourceCurrency === this.defaultCurrency && x.targetCurrency === newCurrency);
			
			for(var i in this.products)
				this.products[i].unitPrice = this.products[i].unitPrice * rateToApply.rate;
			
			this.currentlyAppliedExchangeRate = rateToApply;
		},

		// Formats the display unit price to monetary value
		formatUnitPrice(unitPrice) {
			return '$' + +unitPrice.toFixed(2);
		},

		// Resets the display products to the original products and applies value formatting
		resetDisplayProducts() {
			var newDisplayProducts = this.deepCopyObject(this.products);

			for(var i in newDisplayProducts)
				newDisplayProducts[i].unitPrice = this.formatUnitPrice(newDisplayProducts[i].unitPrice)

			this.ProductsDisplayValues = newDisplayProducts;
		},

		// Deep copies a json object to remove references
		deepCopyObject(obj) {
			return JSON.parse(JSON.stringify(obj));
		}
	},

	computed: {
		// Verifies if the products api call has been completed
		dataIsLoaded() {
			return this.products.length > 0;
		}
	},

	watch: {
		// Watches for changes in currency and applies exchange rates
		selectedCurrency(newVal, oldVal) {
			if(oldVal)
				this.setNewCurrency(newVal);
		}
	}
}
</script>

<style scoped>
	.home-page-container {
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
		justify-content: center;
		align-items:center;
	}

	.content {
		width: 95%;
		position: relative;
	}

	.dropdown {
		width: 15%;
		min-width: 100px;
	}
</style>
