<template>
  <div class="cp-dropdown">
    <div class="cp-dropdown-labels"><label class="cp-dropdown-label" v-if="label" v-text="label"></label></div>
    <div class="cp-dropdown-input"><span class="cp-dropdown-placeholder" v-text="text || placeholder" @click="showOptions"></span>
        <ul class="cp-dropdown-options" v-if="show">
            <li class="cp-dropdown-item" v-for="(item, index) in items" v-text="item.label" @click="onItemClickHandler(item.value)" v-bind:key="index"></li>
        </ul>
    </div>
</div>
</template>

<script>
export default {
    name: 'CpDropdown',

    props: {
        // Placeholder text when the selected value is null.
        'placeholder': String,
        // Items to display in the dropdown. Must be in { label: '', value: '' } format.
        'items': Array,
        // Label of the field.
        'label': String,
        // Value to be passed on from the parent component.
        'value': String
    },

    data () {
        return {
            // Show flag for the dropdown container.
            show: false,
            // The selected item value.
            selected: null,
            // The selected item label shown in the component placeholder.
            text: null
        }
    },

    watch: {
        // Set the new value if passed from the parent component.
        value (newVal, oldVal) {
            if (newVal && newVal !== oldVal) {
                this.findItem(newVal);
            }
        },
        // Emit the new value when it's not the same as the previous value.
        selected (newVal, oldVal) {
            if (newVal && newVal !== oldVal) {
                this.$emit('input', newVal);
            }
        },
        // When the items have rendered, set the value if it exists.
        items () {
            this.findItem(this.value);
        }
    },

    mounted () {
        this.setWindowListener();
    },

    methods: {
        // Toggle the display of the items in the dropdown container.
        showOptions () {
            this.show = !this.show;
        },
        // Set the newly selected item
        onItemClickHandler (item) {
            this.selected = item;
        },
        // A window listener to check if the dropdown was not clicked on and closes it if true.
        setWindowListener () {
            window.addEventListener('click', e => {
                if (this.show && e && e.target && !e.target.parentNode.classList.contains('cp-dropdown-input')) {
                    this.show = false;
                }
            }, false);
        },
        // Find the item that will be selected and set the value and text in the component.
        findItem (itemValue) {
            const item = this.items.find(x => x.value === itemValue);
            if (item) {
                this.selected = item.value;
                this.text = item.label;
            }
        }
    }
}
</script>

<style scoped>
    .cp-dropdown {
        margin-bottom: 15px
    }

    .cp-dropdown-input {
        background: #356FB4;
        color: #fff;
        position: relative;
        border-radius: 3px;
        text-align: center;
        box-sizing: border-box;
    }
    .cp-dropdown-labels {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .cp-dropdown-label {
        font-weight: 600
    }

    .cp-dropdown-placeholder {
        display: inline-block;
        cursor: pointer;
        user-select: none;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .cp-dropdown-options {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        border: 1px solid #C8C8C8;
        background: #fff;
        z-index: 99;
        box-sizing: border-box;
            
    }

    .cp-dropdown-item {
        padding: 10px;
        background: white;
        list-style-type: none;
        user-select: none;
        cursor: pointer;
        color: #393939;
    }

    .cp-dropdown-item:hover {
        background:  #C8C8C8
    }
</style>

