<template>
  <table class="cp-table" cellspacing="0">
    <thead>
        <tr>
            <th v-for="(header, index) in headers" v-text="header" :key="index"></th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="(row, index) in items" v-bind:key="index">
            <td v-for="(cell, index) in row" v-text="cell" v-bind:key="index"></td>
        </tr>
    </tbody>
</table>
</template>

<script>
export default {
    name: 'CpTable',

    props: {
        // Data to be displayed in the table.
        'items': Array,
    },

    computed: {
        // Transforms the first object keys into the table headers. This will separate words based on the character "_".
        headers () {
            return this.items
                && this.items.length > 0 
                && Object.keys(this.items[0]).map(key => 
                    this.capitalizeCamelCase(key))
        },
    },

    methods: {
        // Deconstructs and formats a camel case string. This is used for capitalising the header names.
        capitalizeCamelCase (str) {
            return str.replace(/([A-Z])/g, ' $1')
                .replace(/^./, function(str){ return str.toUpperCase(); })
        },
    }
}
</script>
<style scoped>
    .cp-table {
        width: 100%;
        border: 1px solid #C8C8C8;;
        border-radius: 3px;
        overflow: hidden;
    }
    .cp-table, thead, th {
        background: #356FB4;
        color: #fff;
        border-bottom: 1px solid #C8C8C8;
    }

    th, td {
        padding: 15px;
        text-align: center;
    }

    .border-sides {
        border-right: 0px;
        border-left: 0px;
        border-radius: 0px;
    }
    
    tbody, tr{
        background: #fff;
        color: #393939;
	}

    tr:nth-child(even){
        background: #F9FAFB
    }

    tr:nth-child(odd) {
        background: #e6edf7
    } 
</style>

